
<div class="card flex flex-column justify-content-center align-items-center">
  <h3>Tổng quan</h3>
  <p-chart type="pie" [data]="data0" [style]="{'width': '40%'}" (onDataSelect)="onDataSelect($event)"></p-chart>

  <br><hr/><br>
  <h3>Tổng quan các đối tượng đang quản lí</h3>
  <p-chart type="doughnut" [data]="data1" [style]="{'width': '40%'}"></p-chart>

  <br><hr/><br>
  <h3>Tổng quan các báo cáo đang có</h3>
  <p-chart type="doughnut" [data]="data2  " [style]="{'width': '40%'}" ></p-chart>
</div>
