<p-dialog header="Thêm một đối tượng trong vùng chứa" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false" (onHide)="hide()">
  <p-divider align="left"> <b>Đối tượng được chọn</b> </p-divider>
  <div class="p-fluid grid">
    <div class="p-field col-6 md-12">
      <span class="p-float-label">
        <input type="text" pInputText [(ngModel)]="chooseItem.code" disabled />
        <label>Mã đối tượng <span style="color: red;">*</span>
        </label>
      </span>
    </div>
    <div class="p-field col-6 md-12">
      <span class="p-float-label">
        <input type="text" pInputText [(ngModel)]="chooseItem.name" disabled="" />
        <label>Tên đối tượng <span style="color: red;">*</span>
        </label>
      </span>
    </div>
  </div>
  <p-divider align="left"> <b>Danh sách ứng viên</b> </p-divider>
  <p-fieldset legend="Tìm kiếm" [toggleable]="true" [collapsed]="true">
    <form [formGroup]="formSearch" (ngSubmit)="onSearchSubmit()">
      <div class="p-fluid grid">
        <div class="p-field col-6 md-12">
          <span class="p-float-label">
            <input type="text" id="filter" pInputText formControlName="filter" />
            <label for="filter">Key Search</label>
          </span>
        </div>
        <div class="p-field col-6 md-12">
          <span class="p-float-label">
            <p-treeSelect appendTo="body" [options]="treeCategory" selectionMode="single" placeholder="Chọn danh mục"
              (onNodeSelect)="selectCategory($event)"></p-treeSelect>
            <label for="filter">Danh mục</label>
          </span>
        </div>
      </div>
    </form>
    <p-toolbar styleClass="flex align-items-center justify-content-center">
      <button pButton pRipple label="Tìm kiếm" icon="pi pi-search" class="p-button p-mr-2"
        (click)="onSearchSubmit()"></button>
    </p-toolbar>
  </p-fieldset>
  <p-table #dt [value]="listItem" [rowHover]="true" dataKey="id"
    styleClass="p-datatable-customers p-datatable-gridlines p-datatable-striped p-datatable-sm"
    [globalFilterFields]="['code','name']">
    <ng-template pTemplate="header">
      <tr class="ng-star-inserted">
        <th style="width: 5rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="code">
          <div class="flex justify-content-between align-items-center ml-auto">
            Mã đối tượng
            <p-sortIcon field="code"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="name">
          <div class="flex justify-content-between align-items-center ml-auto">
            Tên đối tượng
            <p-sortIcon field="name"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="qualityScore">
          <div class="flex justify-content-between align-items-center ml-auto">
            Chất lượng
            <p-sortIcon field="qualityScore"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="status">
          <div class="flex justify-content-between align-items-center ml-auto">
            Trạng thái
            <p-sortIcon field="status"></p-sortIcon>
          </div>
        </th>
        <th>
          <div class="flex justify-content-between align-items-center">
            Thao tác
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>
          <p-tag styleClass="mr-2"
            [severity]="item.qualityScore >= 85 ? 'success' : item.qualityScore>= 60 ? 'warning' : 'danger'"
            [value]="item.qualityScore" [rounded]="true"></p-tag>
        </td>
        <td>
          <p-tag styleClass="mr-2"
            [severity]="item.status == 1? 'success' : item.status == 2 ? 'warning' : item.status == 5? 'danger': 'info'"
            [value]="getStatus(item.status)" [rounded]="true"></p-tag>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-star" pTooltip="Chọn đối tượng này" tooltipPosition="top"
            class="p-button-rounded p-button-help mr-2 p-button-sm" (click)="chooseThisItem(item)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">Không tồn tại dữ liệu.</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <p-paginator [pageLinkSize]="pageSize" [rows]="pageSize" [totalRecords]="totalRecords"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} record" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="pageSizeOptions" (onPageChange)="onPageChange($event)">
      </p-paginator>
      <div class="flex align-items-center justify-content-center">
        In total there are {{ totalRecords }} dataObjects.
      </div>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <p-button label="Save" styleClass="p-button-success" (onClick)="save()">
    </p-button>
  </ng-template>
</p-dialog>
