<form [formGroup]="formLogin">
  <div class="card login-container">
    <p-divider align="center">
      <h2>Đăng nhập</h2>
    </p-divider>
    <div class="p-fluid grid">
      <div class="p-field col-12 md-12">
        <span class="p-float-label">
          <input type="text" pInputText autofocus formControlName="username"/>
          <label>Username <span style="color: red;">*</span>
          </label>
        </span>
        <div *ngIf="f['username'].errors && f['username'].dirty">
          <ng-container *ngIf="f['username'].errors['required']">
            <p-tag styleClass="p-mr-2" severity="warning"
              value="Username không được để trống"></p-tag><br>
          </ng-container>
        </div>
      </div>
      <div class="p-field col-12 md-12">
        <span class="p-float-label">
          <input type="password" pInputText formControlName="password"/>
          <label>Password<span style="color: red;">*</span>
          </label>
        </span>
        <div *ngIf="f['password'].errors && f['password'].dirty">
          <ng-container *ngIf="f['password'].errors['required']">
            <p-tag styleClass="p-mr-2" severity="warning"
              value="Mật khẩu không được để trống"></p-tag><br>
          </ng-container>
        </div>
      </div>
      <p-divider class="p-field col-12 md-12"></p-divider>
      <div class="p-field col-6 md-12">
        <p-button label="Login" (onClick)="login()">
        </p-button>
      </div>
      <div class="p-field col-6 md-12">
        <p-button label="Register" styleClass="p-button-success" routerLink="../register">
        </p-button>
      </div>
    </div>
  </div>
</form>
